<div class="col" id="mainContentContainer">
    <div class="row d-flex justify-content-center">
        <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group" role="group" aria-label="First group">
                <button id="livePreviewContainerBtn" data-div-id="livePreviewContainer" type="button" class="btn btn-primary active">Live Preview</button>
                <button id="pageContentContainerBtn" data-div-id="pageContentContainer" type="button" class="btn btn-primary active">Content Page</button>
                <button id="pageModelContainerBtn" data-div-id="pageModelContainer" type="button" class="btn btn-primary active">Page Model</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-10">
            <input name="displayPageIFrameUrl" id="displayPageIFrameUrl" type="url" class="form-control mt-2">
        </div>
        <div class="col-2">
            <div class="btn-group" role="group">
                <button id="displayPageIFrameUrlBtn" class="btn btn-primary float-right">Go</button>
                <button id="btnDisplayPagePopup" class="btn btn-primary float-right">Popup</button>
            </div>
        </div>

    </div>

    <div id="codeWindowMainContainer">
    </div>
</div>
