@page
@using System.Text.Json
@model Examples.Pages.IndexModel

@{
    Layout = "Shared/_Layout";
}

<style>
    .gutter.gutter-horizontal {
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
        background-repeat: no-repeat;
        background-position-y: center;
    }
    
    #treeview {
      height: 100%;
    }
    
    .demo-container {
      height: 100%;
    }
    
    .dx-text-editor-container {
      height: 34px;
    }
    
    .options {
      padding: 20px;
      position: absolute;
      bottom: 0;
      right: 0;
      width: 260px;
      top: 0;
      background-color: #f5f5f5;
    }
    
    .caption {
      font-size: 18px;
      font-weight: 500;
    }
    
    .option {
      margin-top: 10px;
    }
    
    .dx-treeview-search {
      height: 34px;
    }
    
    .option > .dx-selectbox {
      display: inline-block;
      vertical-align: middle;
      max-width: 350px;
      width: 100%;
      height: 32px;
      margin-top: 5px;
    }

</style>



<div class="row">
    <!-- Start your project here-->

    <div class="col-3">
      <div class="dx-viewport demo-container">
        <div id="treeview"></div>
      </div>
    </div>
    <partial name="_ExampleWindow"/>
</div>

@section Scripts {
  @* <script src="lib/jquery/dist/jquery.js"></script> *@
  <script src="https://pagecdn.io/lib/ace/1.4.12/ace.js" crossorigin="anonymous" integrity="sha256-Q9hnBpgBFstzZOr+OKFOWZWfcF5nFXO8Qz48Nmndo6U="></script>
  <script src="https://pagecdn.io/lib/ace/1.4.12/theme-monokai.js" crossorigin="anonymous"></script>
  <script src="https://pagecdn.io/lib/ace/1.4.12/snippets/csharp.js" crossorigin="anonymous"></script>
  <script src="https://pagecdn.io/lib/ace/1.4.12/snippets/razor.js" crossorigin="anonymous"></script>
  <script src="https://pagecdn.io/lib/ace/1.4.12/snippets/html.js" crossorigin="anonymous"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/split.js/1.6.0/split.min.js"></script>

  <script src="js/loadCodeWindows2.js"></script>
  <script>
        $(document).ready(function () {
            $("#mainContentContainer").hide();
        });
    </script>


  <!-- DevExtreme theme -->
  <link rel="stylesheet" href="https://cdn3.devexpress.com/jslib/21.2.7/css/dx.common.css">
  <link rel="stylesheet" href="https://cdn3.devexpress.com/jslib/21.2.7/css/dx.light.css">

  <!-- DevExtreme library -->
  <script type="text/javascript" src="https://cdn3.devexpress.com/jslib/21.2.7/js/dx.all.js"></script>
  
  @* <script src="js/loadCodeWindows2.js"></script> *@

  <script>
      const tree = @Html.Raw(Model.RouteNodesForTreeAsJson);
  </script>

}
