@model Examples.Pages.Lesson3.Models.Product

<form method="post" id="addNewProduct">
    <div class="form-group">
        <label>Name</label>
        <input asp-for="Name" class="form-control" placeholder="Enter product name">
        <span class="invalid-feedback" asp-validation-for="Name"></span>
    </div>

    <div class="form-group">
        <label>Description</label>
        <input asp-for="Description" class="form-control" placeholder="Enter product description">
        <span class="invalid-feedback" asp-validation-for="Description"></span>
    </div>

    <div class="form-group">
        <label>Price</label>
        <input asp-for="Price" class="form-control" placeholder="Enter product price">
        <span class="invalid-feedback" asp-validation-for="Price"></span>
    </div>

    <div class="form-group">
        <label>Sale Price</label>
        <input asp-for="SalePrice" class="form-control" placeholder="Enter sale price">
        <span class="invalid-feedback" asp-validation-for="SalePrice"></span>
    </div>

@*     <div class="form-group"> *@
@*         <select asp-for="CategoryId" class="form-control"> *@
@*             @foreach (var category in Model.Categories) *@
@*             { *@
@*                 <option value="@category.CategoryId">@category.Name</option> *@
@*             } *@
@*         </select> *@
@*     </div> *@

    <button class="btn btn-primary" type="submit">Add</button>
</form>
