@page
@model Exercises.Pages.Lesson1.Assignment3

@{
    Layout = null;
}

<div>
    <p id="result">###</p>
</div>

<form method="post" id="calculatorForm">
    <input type="hidden" ###>
    <input type="text" id="input" name="input">
    <button name="addBtn" id="addBtn" type="submit" ###>+</button>
    <button name="subBtn" id="subBtn" type="submit" ###>-</button>
    <button name="mulBtn" id="mulBtn" type="submit" ###>*</button>
    <button name="divBtn" id="divBtn" type="submit" ###>/</button>
</form>


