@page
@model Exercises.Pages.Lesson1.Assignment5

@{
    Layout = null;
}

<div>
    <form method="post">
        <h1>Happy: <span id="happyCount">###</span>
            <button id="btnHappy" type="submit" ###>Happy++</button>
        </h1>

        <h1>Disappointed: <span id="disappointedCount">###</span>
            <button id="btnDisappointed" type="submit" ###>Disappointed++</button>
        </h1>

        <h1>Angry: <span id="angryCount">###</span>
            <button id="btnAngry" type="submit" ###>Angry++</button>
        </h1>

        <hr>

        <button id="btnDeleteCookie" type="submit" ###>Delete Cookie</button>
    </form>
</div>
