@page
@model Exercises.Pages.Lesson1.Assignment1

@{
    Layout = null;
}

<div>
    <p>
        <span id="scoreHome">###</span> - <span id="scoreAway">###</span>
    </p>
    <div>
        <a id="incrementHome" href="###">Home ++</a>
        <a id="decrementHome" href="###">Home --</a>

        <a id="incrementAway" href="###">Away ++</a>
        <a id="decrementAway" href="###">Away --</a>
    </div>
    <div>
        <a id="reset" href="###">Reset</a>
    </div>
</div>


