@page
@model Exercises.Pages.Lesson1.Exercise2

@{
    Layout = null;
}

@{
    string url = "?" + string.Join("&", Model.Directions.Select(x => $"directions={x}"));
}

<a href="@url&directions=Left">Left</a>
<a href="@url&directions=Right">Right</a>
<a href="@url&directions=Forward">Forward</a>
<a href="@url&directions=Backward">Backward</a>

<hr>
<a href="?">Clear</a>
<hr>

<ul id="route">
    @foreach (var direction in Model.Directions)
    {
        switch(direction)
        {
            case Exercise2.Direction.Left: 
                <li>Left</li> 
            break;
            case Exercise2.Direction.Right: 
                <li>Right</li> 
            break;
            case Exercise2.Direction.Forward: 
                <li>Forward</li> 
            break;
            case Exercise2.Direction.Backward: 
                <li>Backward</li> 
            break;
        } 
    }
</ul>
