@page /* plaats hier de route + constraints */
@model Exercises.Pages.Lesson1.Assignment4

@{
    Layout = null;
}

<h1 id="categoryHeading">###</h1>
<h2 id="subCategoryHeading">###</h2>
<h3 id="productIdHeading">###</h3>
