@page
@model Exercises.Pages.Lesson1.Exercise2

@{
    Layout = null;
}

@{

}

<a href="###">Left</a>
<a href="###">Right</a>
<a href="###">Forward</a>
<a href="###">Backward</a>

<hr>
<a href="###">Clear</a>

<hr>

<ul id="route">
    <!-- geeft de route weer, met onderstaande -->
    <li>Left</li>
    <li>Right</li>
    <li>Forward</li>
    <li>Backward</li>
</ul>
