@page
@model Examples.Pages.Lesson1.GetRequest

@{
    Layout = null;
}

<h1>Hello @Model.Firstname.ToUpper()</h1>
<form method="get">
    <input name="firstname" type="text">
    <button type="submit">Verzenden</button>
</form>
<hr>
<a href="?firstname=Lops">Lops</a>