@page
@model Examples.Pages.Lesson1.PostRequest
@{
    Layout = null;
}
<h1>Request.Form["naam"]: @Model.NameRequest</h1>
<h1>Parameter van OnPost(): @Model.NameParameter</h1>
<h1>BindProperty: @Model.NameBindProperty</h1>
<form method="post">
    @* het name attribute is belangrijk, dit wordt gebruikt om bij de waarde te kunnen, b.v. Request.Form["naam"] *@
    Naam: <input type="text" name="naam"> <br>
    <button type="submit">Verzenden</button>
</form>
