@page
@model Examples.Pages.Lesson1.PostRequestWithParameterBinding

@{
    Layout = null;
}

<h1>Hello @Model.Firstname, @Model.Surname</h1>
<h2>Aka @Model.Nickname @Model.NicknameGet</h2>

<hr>
<h1>Post Form:</h1>
<form method="post">
    Firstname: <input type="text" name="firstname"><br>
    Surname: <input type="text" name="surname"><br>
    Nickname: <input type="text" name="nickname"><br>
    <button type="submit">Submit</button>
</form>

<hr>

<form method="get">
    Firstname: <input type="text" name="firstname"><br>
    Surname: <input type="text" name="surname"><br>
    Nickname: <input type="text" name="nicknameGet"><br>
    <button type="submit">Submit</button>
</form>
