@page
@model Examples.Pages.Lesson1.SetTempData

@{
    Layout = null;
}

<h1>Kies je lievelingsgetal</h1>
<ul>
    @foreach (var getal in Enumerable.Range(1, 10))
    {
        <li>
            <form method="post">
                @getal
                <input type="hidden" name="lievelingsgetal" value="@getal"/>
                <button type="submit">Selecteer</button>
            </form>
        </li>
    }
</ul>
