@{
    Layout = "Shared/_Layout";
}

<h1>Products Layout</h1>

<h1>Category Info for Category 1, see _ProductLayout.cshtml</h1>
@await Component.InvokeAsync("CategoryInfo2", "Category 1")

@RenderBody()
