@page
@model Exercises.Pages.Lesson3.Categories.Create

@{
    Layout = null;
}

<h1>Create New Category</h1>
<form method="POST">
    <div>
        <label asp-for="Category.Name">Name:</label>
        <input asp-for="Category.Name"/>
        <span asp-validation-for="Category.Name"></span>
    </div>
    <div>
        <button type="submit">Create</button>
        <button asp-page-handler="Cancel">Cancel</button>
    </div>
</form>