@page
@model Exercises.Pages.Lesson3.Categories.Update

@{
    Layout = null;
}

<h1>Update Category</h1>
<form method="POST">
    <input type="hidden" asp-for="Category.CategoryId"/>
    <div>
        <label asp-for="Category.Name">Name:</label>
        <input asp-for="Category.Name"/>
        <span asp-validation-for="Category.Name"></span>
    </div>
    <div>
        <button type="submit">Update</button>
        <button asp-page-handler="Cancel">Cancel</button>
    </div>
</form>