@{
    bool noNav = ViewData["No Nav"] != null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Examples</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <!-- Google Fonts Roboto -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <!-- Bootstrap core CSS -->

    <!-- Material Design Bootstrap -->
    <link rel="stylesheet" href="~/lib/MDB-Free_4.19.1/css/mdb.min.css">
</head>
<body>
@* @if(!noNav) { *@
@*     <header> *@
@*         <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"> *@
@*             <div class="container"> *@
@*                 <a class="navbar-brand" asp-area="" asp-page="/Index">Examples</a> *@
@*                 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent" *@
@*                         aria-expanded="false" aria-label="Toggle navigation"> *@
@*                     <span class="navbar-toggler-icon"></span> *@
@*                 </button> *@
@*                 <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"> *@
@*                     <ul class="navbar-nav flex-grow-1"> *@
@*                         <li class="nav-item"> *@
@*                             <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a> *@
@*                         </li> *@
@*                         <li class="nav-item"> *@
@*                             <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a> *@
@*                         </li> *@
@*                     </ul> *@
@*                 </div> *@
@*             </div> *@
@*         </nav> *@
@*     </header> *@
@* } *@
<div class="container-fluid">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

@if(!noNav) {
<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2022 - Examples - Joris Lops
    </div>
</footer>
}


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="~/lib/MDB-Free_4.19.1/js/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="~/lib/MDB-Free_4.19.1/js/mdb.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

@RenderSection("Scripts", required: false)
</body>
</html>
